.venv/
PoseEstimationSurgicalTools/
POV_Surgery_data/
pyorbbecsdk/examples/object_detection/models/
FoundationPose/
sam2/
runs/
test_recorded_depth/
ultralytics_analytics.avi/
test_clear_recorded_depth/
Log/
*.log